@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Variables styles*/
:root {
    --primary-clr: #3498db;
    --secondary-clr: #2ecc71;
    --accent-clr: #e74c3c;
    --white-clr: #F0F0F0;
    --black-clr: #000300;
    --grey-clr: #dedede;
    --dark-grey-clr: #3f3f3f;
    --font-family: "Inter", sans-serif;
}

/* All styles*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
}

.max-width {
    max-width: 1220px;
    margin: 0 auto;
}

.title {
    font-size: 40px;
    font-weight: 800;
    color: var(--black-clr);
}


.heading-small {
    color: var(--black-clr);
    font-weight: 600;
    font-size: 32px;
}

.section-header {
    margin-top: 2rem;
}

p {
    font-size: 24px;
}

.primary-btn {
    display: inline-flex;
    text-decoration: none;
    color: var(--white-clr);
    border: 1px solid var(--white-clr);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
    position: relative;

    transition: 1s;
}

.primary-btn:hover {
    border: 1px solid var(--accent-clr);
    background: var(--accent-clr);
}


.secondary-btn {
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    color: var(--black-clr);
    border: 1px solid var(--black-clr);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
    position: relative;

    transition: 1s;
}

.secondary-btn:hover {
    border: 1px solid var(--accent-clr);
    background: var(--accent-clr);
}

@media screen and (max-width: 768px) {
    p {
        font-size: 1rem;
    }

    .title {
        font-size: 1.875rem;
    }

    h2 {
        font-size: 1.25rem;
    }
}

/* Header styles */

header:not(.short) {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(assets/banner.jpg);
    background-position: center;
    background-size: cover;
    
    position: relative;
}

header.short {
    min-height: 50vh;
    width: 100%;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(assets/banner.jpg);
    background-position: center;
    background-size: cover;
    
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

nav .menu-bar{
    display: none;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    position: relative;
}

.nav-links ul li a {
    color: var(--white-clr);
    text-decoration: none;
    padding: 8px 12px;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--accent-clr);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.nav-links .menu-close {
    display: none;
}

.nav-links .row {
    display: flex;
    justify-content: end;
    padding-inline: 1rem;
    padding-top: 2rem;
}

.text-box {
    width: 90%;
    color: var(--white-clr);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: var(--white-clr);
}

@media screen and (max-width: 768px) {
    nav {
        padding-top: 2rem;
    }

    nav img {
        width: 100px;
    }

    nav .menu-bar {
        aspect-ratio: 1;
        height: 40px;
        display: grid;
        place-items: center;
        border-radius: 8px;
        font-weight: 700;
        color: var(--white-clr);
        cursor: pointer;
        background-color: var(--dark-grey-clr);
    }    

    .nav-links {
        position: fixed;
        width: 60%;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 99999;

        transform: translateX(1000px);
        text-align: left;
        background: var(--black-clr);
        transition: 0.5s transform ease-in-out;
    }

    .nav-links.active {
        transform: translateX(0);
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        padding: 0;

        margin-top: 2rem;
        padding-inline: 1rem;
    }

    .nav-links ul li {
        border-radius: 8px;
        transition: 0.5s background ease;
    }

    .nav-links ul li:hover {
        background: var(--dark-grey-clr);
    }
    
    .nav-links ul li::after {
        display: none;
    }

    .nav-links ul li a {
        font-size: 18px;
        font-weight: 600;
        display: flex;
        width: 100%;
        justify-content: center;
        font-size: 1.5em;
    }

    .nav-links .menu-close {
        aspect-ratio: 1;
        height: 40px;
        display: grid;
        place-items: center;
        border-radius: 8px;
        font-weight: 700;
        color: var(--white-clr);
        cursor: pointer;
        background-color: var(--dark-grey-clr);
    }

    .text-box h1 {
        font-size: 32px;
    }
}

/* About styles */
.about {
    display: flex;
    gap: 1rem;
    margin-top: 100px;
    padding-inline: 1rem;
}

.about-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.about-text {
    flex: 1;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: end;
}

.about-image img {
    max-width: 80%;
    border-radius: 8px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.about-follow {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
}

.about-socials {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--primary-clr);
}

.about-socials a {
    text-decoration: none;
    color: unset
}

code {
    background: #43414b;
    border-radius: 8px;
    padding: 4px;
}

code .red {
    color: var(--accent-clr);
}

code .white {
    color: var(--white-clr);
}

@media screen and (max-width: 768px) {
    .about {
        flex-direction: column-reverse;
    }

    .about-body {
        text-align: center;
        padding-inline: 1rem;
    }

    .about-image {
        justify-content: center;
    }

    .about-follow {
        justify-content: center;
    }
}

/* Skills, Education and Interests sections */
.other {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 100px;
    padding-inline: 1rem;
}

.other-options {
    display: flex;

    padding-bottom: 1rem;
    border-bottom: 2px solid var(--grey-clr);
}

.option-btn {
    background: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    font-weight: 600;
    padding: 12px 24px;
    cursor: pointer;
    position: relative;

    transition: 0.5s;
}

.option-btn:hover {
    color: var(--primary-clr);
}

.option-btn.active {
    background: var(--grey-clr);
    border-radius: 8px;
}

.option .content {
    margin-top: 2rem;
}

.option #skills {
    display: flex;
    flex-direction: column;
}

.content-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

.skill-category{
    flex: 1;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    background: var(--grey-clr);
    border-radius: 8px;
    padding: 1rem;
}

.skill-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.interest-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

.interest {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.interest img {
    scale: 1.2;
    transition: scale 0.5s ease-in-out;
}

.interest:hover img {
    scale: 1;
}

.interest::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(8, 10, 28, 0.626);
}

.interest h2 {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    z-index: 2;
    color: var(--white-clr);
}

.degrees {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    margin-top: 4rem;
    padding-left: 4rem;
    position: relative;

    margin-left: 25%;
}

.degrees::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    width: 8px;
    border-radius: 8px;
    background: var(--primary-clr);
}

.degree {
    position: relative;
}

.degree::after {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--primary-clr);

    position: absolute;
    left: -4.4rem;
    top: 50%;
}

.degree h2 {
    color: var(--black-clr);
}

.date {
  font-style: italic;
  margin-top: 1rem;
}

.location {
  color: var(--primary-clr);
}

@media screen and (max-width: 768px) {
    .other {
        padding-inline: 1rem;
    }

    .option-btn {
        flex: 1;
        font-size: 16px;
        padding: 12px 24px;
    }

    .degrees {
        margin-top: 3rem;
        margin-left: 4%;
    }
}

/* Projects section*/

.projects-section  {
    margin-top: 100px;
    padding-inline: 1rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;

    margin-top: 2rem;
}

.project {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 2px 2px 4px 4px var(--grey-clr);
}

.project .content {
    padding: 1rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.project .content {
    display: grid;
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    z-index: 2;
}

.project:hover .content {
    opacity: 1;
}

.project .content h2 {
    font-size: 1.5rem;
    text-align: center;
    color: var(--white-clr);
}

.project img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    scale: 1.25;
    transition: scale 0.5s ease-in-out;
}

.project:hover img {
    scale: 1;
}

.project::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(8, 10, 28, 0.626);
}

.project .content a {
    display: inline-flex;
    text-decoration: none;
    color: var(--white-clr);
    padding: 12px 34px;
    background: var(--accent-clr);
    font-size: 24px;
    font-weight: 700;
    border-radius: 8px;
    transition: 1s;
}

.project .content a:hover {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .projects-section  {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project .content h2 {
        font-size: 1.25rem;
    }

    .project .content a {
        font-size: 1rem;
        font-weight: 600;
    }
}
/* Contact section */

.contact-section {
    display: flex;
    gap: 2rem;
    margin-top: 100px;
}

.form {
    flex:1;
}

.form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-top: 2rem;
}

.form .form-control {
    display: flex;
    flex-direction: column;
}

.form input,
.form textarea {
    width: 90%;
    border: 1px solid var(--black-clr);
    padding: 0.5rem 1rem;
    margin-top: 8px;
}

.form input:focus,
.form textarea:focus {
    border: none;
    outline: 1px solid var(--primary-clr);
}

.form label {
    font-weight: 700;
}

.form .secondary-btn {
    margin-top: 2rem;
    width: 90%;
}

.contacts {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts img {
    width: 80%;
}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact {
    display: flex;
    gap: 1rem;
}

/* Footer */

footer {
    text-align: center;
    padding: 2rem 0;

    background: var(--black-clr);
    color: var(--white-clr);
    margin-top: 100px;
}